<div class='beer'>
  <img src='/images/beer.png' alt='Beer Photo' />
</div>


<div class=button>
    <div div class='e267_3'>
         <a href='/beers'>Check the Beers!</a>
    </div>

    <div div class='e267_4'>
        <a href='/randombeer'>Check a Random Beer!</a>
    </div> 

 </div>



{{!-- 
 <div class=e267_0>
  <div class="e267_2"></div>
  <div class=e268_173>
    <div class=e268_171><span  class="e268_169">Get a beer</span></div>
    <div class=e268_172><span  class="e268_170">Get a beer</span></div>
  </div>
</div> --}}



  
 